*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
@font-face {
	font-family: 'Kyiv Type Sans';
	src: url('/assets/fonts/KyivTypeSans.woff2') format('woff2'), url('/assets/fonts/KyivTypeSans.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}

/* Default Classes */
body {
    background-color: #222021;
    position: relative;
}

/* Blocked Classes */
nav.mobile-nav, nav.nav-mobile #check {
    display: none;
}
.disabled-link {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5; /* optional: this will visually indicate that the link is disabled */
}
  

/* Generic Classes */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.align-left {
    align-items: flex-start;
}
.align-right {
    align-items: flex-end;
}
.space-evenly {
    justify-content: space-evenly;
}
.space-between {
    justify-content: space-between;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(16px, 3vw, 24px);
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(16px, 6vw, 24px);
    font-style: normal;
}
.font-kyiv {
    font-family: 'Kyiv Type Sans';
    font-optical-sizing: auto;
    font-size: clamp(30px, 8vw, 60px);
    font-style:normal;
    font-weight: 700;
}
.image-card {
    width: 150px;
    height: 150px;
    margin: 40px 50px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 20px auto;
    width: fit-content;
}
.section-large {
    margin: 100px auto;
    padding-inline: 100px;
    color: #f5f5f5;
}
.section-large h2 {
    text-align: center;
    font-weight: 600;
}
button {
    background-color: #728BAD;
    color: #f5f5f5;
    padding: 10px 30px;
    border-radius: 50px;
    outline: none;
    border: 2px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 900px) {
    nav {
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Styles for the navigation bar */
nav {
    width: 100dvw;
    position: fixed;
    z-index: 2;
    align-self: center;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0 0 30% 30%;
}
nav.scrolled {
    background-color: #1E0C06;
    box-shadow: 0 0 20px #f5f5f5;
}
nav .nav-image {
    width: 180px;
    height: 80px;
    margin: 20px 100px;
}
nav .nav-image img {
    width: 100%;
    height: 100%;
}
nav ul {
    margin-right: 100px;
}
nav ul li {
    margin: 5px 20px;
}
nav ul li a {
    color: #f5f5f5;
    transition: all 0.5s ease-in-out;
}

/* Styles for the hero section */
.hero {
    margin: 0;
    height: 100dvh;
    background-image: url("/assets/background/bg-main.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    position: relative;
}
.hero .main-screen {
    width: 70%;
    position: relative;
    left: 30%;
    top: 20%;
    background-color: #1E0C06;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 0 20px #f5f5f5;
}
.hero .main-screen .main-details {
    margin: 50px 30px;
}
.hero .main-screen .main-details {
    padding-right: 40px;
    border-right: 2px solid #f5f5f5;
}
.hero h2 {
    color: #f5f5f5;
}
.hero p {
    color: #FFDBBB;
    margin: 15px 0 30px;
}
.hero .main-images .image-card.a {
    margin-top: 200px;
    background-image: url("/assets/background/bg-small-2.png");
}
.hero .main-images .image-card.b {
    background-image: url("/assets/background/bg-small.png");
}
.hero .main-images .image-card.c {
    margin-top: 100px;
    background-image: url("/assets/background/bg-small-3.png");
}

/* Styles for the gallery section */
.gallery .gallery-item .image-card.a {
    background-image: url("/assets/background/oak.png");
}
.gallery .gallery-item .image-card.b {
    background-image: url("/assets/background/buk.png");
}
.gallery .gallery-item .image-card.c {
    background-image: url("/assets/background/ash.png");
}
.gallery h3 {
    text-align: center;
}
.tick-list {
    margin-top: 20px;
    padding-left: 20px;
}
.tick-list li:before {
    content: '\2713';
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}
.tick-list li.a:before {
    content: '\2717';
}

/* Styles for the advantages section */
.advantages .advantage-image {
    width: 350px;
    height: 250px;
    margin-inline: 50px;
    border-radius: 20px;
    background-image: url("/assets/background/advantages.png");
}
.advantages p {
    margin-bottom: 20px;
    width: 300px;
}
.advantages button {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

/* Styles for the about us section */
.about article {
    width: fit-content;
    height: 550px;
    overflow: hidden;
    margin-block: 50px;
    padding: 0 100px;
    color: #f5f5f5;
    background-color: #1E0C06;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 20px #f5f5f5;
}
.about article h2, .about article p {
    width: 500px;
}
.about article h2 {
    margin: 20px 10px 30px;
}
.about .about-images {
    position: relative;
}
.about .about-images .image-card {
    position: relative;
}
.about .about-images .image-card.a {
    left: 100px;
    background-image: url("/assets/background/about.png");
}
.about .about-images .image-card.b {
    left: 50px;
    bottom: 140px;
    background-image: url("/assets/background/about-1.png");
}
.about .about-images .image-card.c {
    width: 200px;
    height: 200px;
    bottom: 100px;
    border: 10px solid #1E0C06;
    background-image: url("/assets/background/about-2.png");
}

/* Styles for the contact section */
section.contact {
    color: #f5f5f5;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.contact h2, .contact div.flex {
    width: fit-content;
}
.contact h2 {
    margin-bottom: 20px;
}
.contact  form, .contact p {
    width: 400px;
}
.contact p {
    margin-left: 100px;
    text-align: right;
}
.contact  form *:not(button) {
    border: none;
    width: 100%;
    border-radius: 20px;
    outline: 3px solid #728BAD;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: transparent;
}
.contact .contact-image {
    width: 500px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0;
    top: 200px;
    right: 150px;
}
.contact .contact-image img {
    width: 100%;
    aspect-ratio: 1/1;
}

/* Styles for the footer section */
footer {
    padding: 30px 100px;
    box-shadow: 0 0 20px #f5f5f5;
    color: #f5f5f5;
    z-index: 3;
    position: relative;
}
footer i {
    margin-right: 20px;
}
footer i img {
    width: 50px;
    aspect-ratio: 1/1;
}
footer div.policy {
    margin: 40px 0 0;
}
footer a {
    color: #f5f5f5;
}

/* CONTACT PAGE STYLES */
.map-container {
    width: 400px;
    height: 400px;
    margin: 150px auto;
}
.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

